.main{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.section{
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(150px, 1fr);

    min-height:50vh;
    margin: 10em auto;
}
.picker, .input{
    margin-block: 5px
}

.input{
    display:flex;
    flex-direction: column;
    height: 30px;
    width: 150px;
    transition: all ease 300ms;
}

.input:hover, 
.input:focus {
    width: 250px;
}


.label {
    color: rgb(54, 54, 54);
    font-size: 14px;
}

.backButton {
    width: 150px;
    height: 40px;
    margin-right: 100px;
}

.bookingList{
    display:grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 3em;
    word-wrap: break-word;

}

.bookingSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    grid-template-rows: repeat(2, auto);
    margin: 10em auto;
}

.bookingForm {
    justify-self: center;
}

.bookingCard {
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: 275px;
    justify-self: center;
    margin-top: 30px;
    margin-left: 20px;

}


@media (min-width: 600px) {
    .bookingSection {
        width: 80%;
    }
    .section {
        grid-template-columns: repeat(2, minmax(360px, 550px));

    }
    
}